.eventItem {
    display: block;
    list-style: none;
    margin: 0 1% 1vmin 0;
	--default-pad: 1vmin;
    padding: var(--default-pad) var(--default-pad) 2vmin var(--default-pad);

	font-size: 1.5vmin;
	position: relative;
	text-align: left;

	width: 45%;
	overflow: hidden;
}

.eventItem img.externalLinkIcon {
	height: 1.5vmin;
}

.eventItem:not(:hover) img.externalLinkIcon {
	display: none;
}

.accepted {
	background-color: rgb(233, 255, 234);
}

.accepted:hover {
	background-color: rgb(204, 250, 207);
}

.notAccepted {
	background-color: rgb(255, 233, 233);
}

.notAccepted:hover {
	background-color: rgb(248, 209, 209);
}

.blockNumber {
	position: absolute;
	bottom: var(--default-pad);
	right: var(--default-pad);
	font-size: 1vmin;
} 

.confirmations {
	position: absolute;
	top: var(--default-pad);
	right: var(--default-pad);
}

.eventName {
	font-size: 2vmin;
	margin-bottom: 1vmin;
}

table.args {
	margin:0;
    padding:0;
    background:none;
    border:none;
    border-collapse:collapse;
    border-spacing:0;
    background-image:none;
	font-size: 1vmin;	
	width: 100%;
}