.eventListWidget {

}

.eventListWidget table {
	width: 100%;
}

.eventListWidget > table td:nth-child(1) {
	width: 12vmin;
}

.eventListWidget input, .eventListWidget textarea {
	width: 24em;
}

.eventListWidget textarea {
	height: 6em;
}

.eventList {
    display: flex;
	flex-wrap: wrap;
    list-style: none;
    margin: 6vmin 0 0 0;
    padding: 0;
	width: 100%;
	max-height: 500px;
	overflow-y: scroll;
	overflow-x: hidden;
}

.errorList {
	color: rgb(172, 0, 0);
}

.seedNodes {
	display: flex;
	flex-wrap: wrap;
    list-style: none;
    margin: 2vmin 0 0 0;
    padding: 0;
	width: 100%;
}

button.active {
	background-color: rgb(0, 36, 3);
}