body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
	'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
	sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	font-size: calc(10px + 1vmin);
	margin: 2vmin 0 0 0;
	text-align: left;
}

#body-wrapper {
	margin: auto;
	width: 800px;
}

@media only screen and (max-width: 800px) {
	#body-wrapper {
		width: 100%;
	}
}

pre {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
	white-space: pre;
	font-size: 1.2vmin;
	line-height: 1.2em;
	background-color: rgb(241, 241, 241);
	padding: 1em 1em;
}
